.write-wrap{
    background: #fff;
}
.write-wrap-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 170px;
    padding-top: 40px;
}
.write-wrap-block-txt-left {
    margin-right: 5%;
}
.write-wrap-block-txt-left h3{
    font-size: 2.25rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 29px;
    line-height: 110%;
}
.write-wrap-block-txt-left p{
    font-size: 0.875rem;
    color: #000;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 3rem;
}
.write-wrap-block-img a{
    margin-right: 30px;
    text-decoration: none;
}
.input-text{
    width: 100%;
    border: 1px solid #000;
    border-radius: 6px;
    display: block;
    padding: 15px;
    margin-bottom: 1rem;
}
.sub{
    padding: 8px;
    background: #ff0000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
@media (max-width:750px){
    .write-wrap-block{
    grid-template-columns: auto;
}
    .write-wrap-block-txt-right{
    max-width: 60%;
}
    .write-wrap{
    margin-bottom: 50px;
}
}
@media (max-width:550px){
    .write-wrap-block-txt-right{
    max-width: 100%;
}
}

























